
@keyframes textGlow {
  0%, 100% {
    text-shadow:
	  4px 4px 0 #550000,
      -2px -2px 0 #550000,
      0 0 0px rgba(255, 0, 0, 1),
      0 0 0px rgba(255, 0, 0, 0.9),
      0 0 0px rgba(255, 0, 0, 0.8),
      0 0 50px rgba(255, 0, 0, 0.7),
      0 0 80px rgba(255, 0, 0, 0.6),
      0 0 100px rgba(255, 0, 0, 0.6);
  }
  50% {
    text-shadow:
	  4px 4px 0 #550000,
     -2px -2px 0 #550000,
      0 0 12px rgba(255, 50, 50, 1),
      0 0 24px rgba(255, 50, 50, 0.95),
      0 0 40px rgba(255, 60, 60, 0.9),
      0 0 70px rgba(255, 80, 80, 0.85),
      0 0 100px rgba(255, 100, 100, 0.8),
      0 0 120px rgba(255, 100, 100, 0.8);
  }
}

@keyframes textGlowMenu {
  0%, 100% {
    text-shadow:
      4px 4px 0 #001a33,
     -2px -2px 0 #001a33,
      0 0 0px rgba(0, 255, 255, 0.9),
      0 0 0px rgba(0, 200, 255, 0.8),
      0 0 0px rgba(0, 180, 255, 0.7),
      0 0 40px rgba(0, 200, 255, 0.6),
      0 0 60px rgba(0, 200, 255, 0.5),
      0 0 80px rgba(0, 200, 255, 0.4);
  }
  50% {
    text-shadow:
      4px 4px 0 #001a33,
     -2px -2px 0 #001a33,
      0 0 12px rgba(100, 250, 255, 1),
      0 0 24px rgba(100, 250, 255, 0.95),
      0 0 40px rgba(0, 200, 255, 0.9),
      0 0 70px rgba(0, 180, 255, 0.85),
      0 0 100px rgba(0, 160, 255, 0.8),
      0 0 120px rgba(0, 140, 255, 0.8);
  }
}

@keyframes textValidMenu {
  0%, 100% {
    text-shadow:
      4px 4px 0 #003300,
     -2px -2px 0 #003300,
      0 0 0px rgba(0, 255, 128, 0.9),
      0 0 0px rgba(0, 255, 100, 0.8),
      0 0 0px rgba(0, 255, 80, 0.7),
      0 0 40px rgba(0, 255, 120, 0.6),
      0 0 60px rgba(0, 255, 120, 0.5),
      0 0 80px rgba(0, 255, 120, 0.4);
  }
  50% {
    text-shadow:
      4px 4px 0 #003300,
     -2px -2px 0 #003300,
      0 0 12px rgba(0, 255, 150, 1),
      0 0 24px rgba(0, 255, 140, 0.95),
      0 0 40px rgba(0, 255, 130, 0.9),
      0 0 70px rgba(0, 255, 120, 0.85),
      0 0 100px rgba(0, 255, 110, 0.8),
      0 0 120px rgba(0, 255, 100, 0.8);
  }
}


@keyframes textGlowWinner {
  0%, 100% {
    text-shadow:
      4px 4px 0 #5e4b00,       /* ombre de base foncée dorée */
     -2px -2px 0 #5e4b00,
      0 0 0px rgba(255, 215, 0, 1),     /* gold pur */
      0 0 0px rgba(255, 215, 0, 0.9),
      0 0 0px rgba(255, 215, 0, 0.8),
      0 0 40px rgba(255, 200, 0, 0.7),
      0 0 60px rgba(255, 190, 0, 0.6),
      0 0 80px rgba(255, 180, 0, 0.5);
  }
  50% {
    text-shadow:
      4px 4px 0 #5e4b00,
     -2px -2px 0 #5e4b00,
      0 0 12px rgba(255, 220, 0, 1),
      0 0 24px rgba(255, 225, 0, 0.95),
      0 0 40px rgba(255, 230, 0, 0.9),
      0 0 70px rgba(255, 235, 0, 0.85),
      0 0 100px rgba(255, 240, 0, 0.8),
      0 0 120px rgba(255, 245, 0, 0.8);
  }
}


.loading1 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	color: rgb(241, 247, 247);
	animation: textGlowMenu 1.7s linear infinite;
}

.hidden-canvas {
  opacity: 0;
  pointer-events: none;
}


.start-button {
  border: none;
  background: transparent;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 220px;
  font-size: 28px;
  color: #faf68bfb;
  cursor: pointer;
  font-weight: bold;
    text-shadow:
    4px 4px 0 #cb0404,
   -2px -2px 0 #cb0404,
    0 0 20px rgba(255, 50, 50, 1),
    0 0 30px rgba(255, 50, 50, 1),
    0 0 40px rgba(255, 50, 50, 1);
  text-transform: uppercase;
}

.start-button:hover {
  transform: scale(1.08);
  text-shadow:
    3px 3px 0 #cb0404,
    -2px -2px 0 #cb0404,
    0 0 20px rgba(255, 50, 50, 1),
    0 0 30px rgba(255, 50, 50, 1),
    0 0 40px rgba(255, 50, 50, 1);
}

.Title {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 130px;
  font-weight: bold;
  color: #faf68bfb;
  text-align: center;
  letter-spacing: 2px;
  z-index: 10;
  animation: textGlow 1.7s linear infinite;
}

.VS {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150px;
  font-weight: bold;
  color: #faf68bfb;
  text-align: center;
  letter-spacing: 2px;
  z-index: 10;
  animation: textGlow 1.7s linear infinite;
}

.page-custom {
  height: 100vh;
  background-image: url("/images/TournamentPage.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-menu-custom {
  position: absolute;
  top: 50%;
  left: 50px; /* distance depuis le bord gauche */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  z-index: 2;
}

.button-accueil {
	position: absolute;
	display: flex;
	top: 90%;
	right: 50px; /* distance depuis le bord gauche */
	z-index: 2;
	align-items: center;
	border: none;
	border-radius: 10px;
	z-index: 2;
	background: transparent;
	color: rgb(241, 247, 247);
	font-weight: bold;
	font-size: 20px;
	animation: textGlowMenu 1.7s linear infinite;
}

.button-accueil:hover {
	transform: scale(1.08);
	animation: textGlow 1.7s linear infinite;
}

.img-exit {
  width: 25px;      /* ← ajuste ici la taille */
  height: 30px;     /* garde le ratio */
}

.style-button-accueil {
	border: none;
	border-radius: 10px;
	z-index: 2;
	background: transparent;
	color: rgb(241, 247, 247);
	font-weight: bold;
	font-size: 20px;
	animation: textGlowMenu 1.7s linear infinite;
}
.style-button-accueil:hover {
	transform: scale(1.08);
	animation: textGlow 1.7s linear infinite;
}

.Menu-button {
	border: none;
	border-radius: 10px;
	z-index: 2;
	background: transparent;
	font-size: 30px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.Return-button {
	border: none;
	position: absolute;
	bottom: 20px;
	left: 20px;
	border-radius: 10px;
	z-index: 2;
	background: transparent;
	font-size: 20px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.Return-Menu {
	top: 60%;
	position: fixed;
	font-weight: bold;
	bottom: 10px;
	left: 10px;
	font-size: 40px;
	z-index: 2;
	border: none;
	background: transparent;
	color: rgb(241, 247, 247);
	animation: textGlowMenu 1.7s linear infinite;
}

.Winner{
	top: 10%;
	position: fixed;
	font-weight: bold;
	font-size: 100px;
	z-index: 2;
	color: #fff8dc;
	animation: textGlowWinner 1.7s linear infinite;
}

.DashBoardp1 {
	border: none;
	position: absolute;
	border-radius: 10px;
	top: 0%;
	right: 65px;
	z-index: 2;
	background: transparent;
	font-size: 30px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}
.DashScore1 {
	border: none;
	position: absolute;
	border-radius: 10px;
	top: 60px;
	right: 200px;
	z-index: 2;
	background: transparent;
	font-size: 70px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.DashScore2 {
	border: none;
	position: absolute;
	border-radius: 10px;
	top: 60px;
	left: 200px;
	z-index: 2;
	background: transparent;
	font-size: 70px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.popup-avatar1 {
  position: fixed;
  width: 120px;
  height: 120px;
  right: 50px;
  top: 5%;
  padding: 17px;
  background-color: #fbf9f900;
  color: white;
  border-radius: 20px;     /* 👈 Coins arrondis */
  border: 1px solid rgba(238, 3, 3, 0.542);
  box-shadow: 0 0 40px rgba(238, 3, 3, 0.5);
  display: flex;
  justify-content: center;
  /* align-items: center;     centre verticalement */
  text-align: center;
}

.DashBoardp2 {
	border: none;
	position: absolute;
	border-radius: 10px;
	top: 0%;
	left: 60px;
	z-index: 2;
	background: transparent;
	font-size: 30px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.popup-avatar2{
  position: fixed;
  width: 120px;
  height: 120px;
  left: 50px;
  top: 5%;
  padding: 17px;
  background-color: #fbf9f900;
  color: white;
  border-radius: 20px;     /* 👈 Coins arrondis */
  border: 1px solid rgba(238, 3, 3, 0.542);
  box-shadow: 0 0 40px rgba(238, 3, 3, 0.5);
  display: flex;
  justify-content: center;
  /* align-items: center;     centre verticalement */
  text-align: center;
}

.avatar2 {
	position: absolute;
	top: 70px;
	left: 20px;
	z-index: 2;
	width: 60px;
	height: auto;
}

.Start-go {
	position: fixed;
	border: none;
	border-radius: 10px;
	z-index: 2;
	background: transparent;
	font-size: 80px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.Menu-button:hover {
	transform: scale(1.08);
	animation: textGlow 1.7s linear infinite;
}

.Return-button:hover {
	transform: scale(1.08);
	animation: textGlow 1.7s linear infinite;
}

.Return-Menu:hover {
	transform: scale(1.08);
	animation: textGlow 1.7s linear infinite;
}

.game-canvas {
	height: 100vh;
	flex-direction: column;
	width: 100vw;
	/* position: fixed; */
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* //////////////////////////////// Page menu /////////////////////////////////////*/

.video-wrapper {
position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.popup {
  position: fixed;
  width: 400px;
  height: 400px;
  right: 50px;
  top: 310px;
  overflow-y: auto;              /* ✅ scroll si dépasse */
  overflow-x: hidden; 
  padding: 20px;
  background-color: #fbf9f95e;
  color: white;
  border-radius: 20px;     /* 👈 Coins arrondis */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.popup-player1 {
  position: fixed;
  width: 400px;
  height: 400px;
  right: 50px;
  top: 30%;
  overflow-y: auto;              /* ✅ scroll si dépasse */
  overflow-x: hidden; 
  padding: 20px;
  background-color: #fbf9f900;
  color: white;
  border-radius: 20px;     /* 👈 Coins arrondis */
  border: 1px solid rgba(238, 3, 3, 0.542);
  box-shadow: 0 0 40px rgba(238, 3, 3, 0.5);
  display: flex;
  justify-content: center;
  /* align-items: center;     centre verticalement */
  text-align: center;
}

.popup-player2 {
  position: fixed;
  width: 400px;
  height: 400px;
  left: 50px;
  top: 30%;
  overflow-y: auto;              /* ✅ scroll si dépasse */
  overflow-x: hidden; 
  padding: 20px;
  background-color: #fbf9f900;
  color: white;
  border: 1px solid rgba(238, 3, 3, 0.542);
  border-radius: 20px;     /* 👈 Coins arrondis */
  box-shadow: 0 0 40px rgba(238, 3, 3, 0.5);
  display: flex;
  justify-content: center; /* centre horizontalement */
  /* align-items: center;     centre verticalement */
  text-align: center;
}

.Player1 {
	position: absolute;
	font-size: 35px;
	z-index: 2;
	bottom: 20%;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.Player2 {
	position: absolute;
	font-size: 35px;
	bottom: 20%;
	z-index: 2;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.popup_create {
  text-align: left;
  position: fixed;
  border: 10px;
  width: 400px;
  height: 120px;
  right: 50px;
  top: 180px;
  overflow-y: auto;              /* ✅ scroll si dépasse */
  overflow-x: hidden; 
  padding: 10px;
  background-color: #fbf9f95e;
  color: white;
  border-radius: 20px;     /* 👈 Coins arrondis */
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.popup_join {
  text-align: center;
  position: fixed;
  border: 10px;
  width: 400px;
  height: 120px;
  right: 50px;
  top: 180px;
  overflow-y: auto;              /* ✅ scroll si dépasse */
  overflow-x: hidden; 
  padding: 10px;
  background-color: #fbf9f95e;
  color: white;
  border-radius: 20px;     /* 👈 Coins arrondis */
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.button-tournament-create {
  	position: fixed;
  	right: 270px;
	top: 695px;
	border: none;
	border-radius: 10px;
	z-index: 2;
	background: transparent;
	font-size: 27px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.button-tournament-create:hover {
	transform: scale(1.08);
	animation: textGlow 1.7s linear infinite;
}

.button-validation {
	position: fixed;
  	right: 440px;
	top: 235px;
	border: none;
	border-radius: 10px;
	z-index: 5;
	background: transparent;
	font-size: 18px;
	color: rgb(95, 237, 7);
	font-weight: bold;
	animation: textValidMenu 1.7s linear infinite;
}

.button-tournament-join {
  	position: fixed;
  	right: 50px;
	top: 695px;
	border: none;
	border-radius: 10px;
	z-index: 2;
	background: transparent;
	font-size: 27px;
	color: rgb(241, 247, 247);
	font-weight: bold;
	animation: textGlowMenu 1.7s linear infinite;
}

.button-tournament-join:hover {
	transform: scale(1.08);
	animation: textGlow 1.7s linear infinite;
}

th, td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px;
  text-align: center;
}

.td-menu {
  max-width: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;   
}

.td-tournament-size{
	max-width: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: rgb(95, 237, 7);
	font-weight: bold;
	animation: textValidMenu 1.7s linear infinite;
}

.th-menu {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(241, 247, 247);
  animation: textGlow 1.7s linear infinite;
  font-weight: bold;
}

.table-menu {
  width: 100%;
  border-collapse: collapse;
  color: white;
  margin-top: 10px;
}

.input-create {
	width: 180px;
}

.input-join {
	width: 70px;
}