**/.enve
**/node_modules
**/package-lock.json
**/dist
srcs/container/backend/srcs/logs
srcs/build/**
PacmanAI/__pycache__
PacmanAI/venv
PacmanAI/venv
srcs/container/backend/srcs/minecraft_data
srcs/container/backend/srcs/uploads
