**/.enve
**/node_modules
**/package-lock.json
**/dist
srcs/container/backend/srcs/logs
srcs/build/**
PacmanAI/__pycache__
PacmanAI/venv
srcs/container/backend/srcs/sqlite/sessions.sqlite
srcs/container/backend/srcs/sqlite/transcendence.sqlite