user nginx;
worker_processes 1;

error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    # Plus besoin de backend.conf séparé, tout passe par frontend
	include /etc/nginx/conf.d/frontend_${NODE_PROJET}.conf;

    sendfile      on;
    keepalive_timeout 65;
}
