/* src/assets/styles/pacman/ActiveRooms.scss */
@import './general_pacman.scss';

/* Conteneur général de la vue “En direct” */
.active-rooms-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: #111; /* gris très sombre */
}

/* Overlay “Pause” */
.overlay-paused {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paused-text {
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}
