/* src/assets/styles/pacman/PacmanMap.scss */

.pause-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: red; /* Couleur du texte */
  font-size: 1.5rem; /* Taille de la police */
  font-family: 'Press Start 2P', cursive; /* Police de caractères */
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* Assurez-vous que le message est au-dessus des autres éléments */
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Hauteur de l'en-tête */
  color: #FFEE00; /* Couleur du texte */
  font-size: 2rem; /* Taille de la police */
  font-family: 'Press Start 2P', cursive; /* Police de caractères */

  animation: neon-pulse 2s infinite alternate;
}

@keyframes neon-pulse {
	from {text-shadow: 0 0 10px #FFEE00;}
	to {text-shadow: 0 0 20px #FFEE00, 0 0 30px #FFEE00, 0 0 40px #FFEE00;}
}

.life {
  display: flex;
  align-items: center;
  gap: 8px;
  
  margin: 10px 0;
  font-family: 'Press Start 2P', cursive;
  color: #FFEE00;
}

.heart {
  font-size: 1.5rem;
  animation: pulse 1.5s infinite alternate;
}

.life-text {
  margin-left: 10px;
  font-size: 0.9rem;
}

@keyframes pulse {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.pacman-map-wrapper {
	display: grid;
  grid-template-columns: 500px 1fr 500px;
  grid-template-rows: 1fr;
  gap: 10px 10px;
}

.column-right {
	display: flex;
	//width: 50px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.column-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Conteneur principal de l carte */
.pacman-map-container {
	position: relative;
	overflow: hidden;
	display: flex;
	width: 775px;           /* Taille fixe en pixels */
  	height: 828px;          /* Taille fixe en pixels */
	  //margin: 0 auto;
	  border: 5px solid #222;    /* bordure sombre */
	  border-radius: 20px;      /* coins arrondis */
	  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	  background-color: #000;    /* fond noir */
	  
  }

.pacman-map {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: top left;
}
  
  /* Chaque case de la grille */
  .tile {
	position: absolute;
  box-sizing: border-box;
  }
  
  /* MURS */
  .tile.wall {
	background-color: #06070a; /* Classic Pacman blue */
//	border: 1px solid #0000ff; /* Bordure bleue */
}

  /* Wall corner variants */
.wall-corner-top-left{
	border-radius: 0 0 30px 0;
	border-bottom: 4px solid #0000ff;
	border-right: 4px solid #0000ff;
	
}
.wall-corner-top-right{
	border-radius: 0 0 0 30px;
	border-bottom: 4px solid #0000ff;
	border-left: 4px solid #0000ff;
}
.wall-corner-bottom-left{
	border-radius: 0 30px 0 0;
	border-top: 4px solid #0000ff;
	border-right: 4px solid #0000ff;
}
.wall-corner-bottom-right{
	border-radius: 30px 0 0 0;
	border-top: 4px solid #0000ff;
	border-left: 4px solid #0000ff;
}
.wall-straight-horizontal{
	border-radius: 0 0 0 0;
	border-bottom: 4px solid #0000ff;
	border-top: 4px solid #0000ff;
}
.wall-straight-vertical{
	border-radius: 0 0 0 0;
	border-left: 4px solid #0000ff;
	border-right: 4px solid #0000ff;
}

.wall-t-top{
	border-radius: 0 0 0 0;
	border-top: 4px solid #0000ff;
}
.wall-t-right{
	border-radius: 0 0 0 0;
	border-right: 4px solid #0000ff;
}
.wall-t-bottom{
	border-radius: 0 0 0 0;
	border-bottom: 4px solid #0000ff;
}
.wall-t-left{
	border-radius: 0 0 0 0;
	border-left: 4px solid #0000ff;
}
.wall-cross {
	border-radius: 0 0 0 0;
  /* All walls use the same solid blue color */
}
.wall-end-left{
	border-radius: 30px 0 0 30px;
	border-left: 4px solid #0000ff;
	border-top: 4px solid #0000ff;
	border-bottom: 4px solid #0000ff;
}
.wall-end-right{
	border-radius: 0 30px 30px 0;
	border-right: 4px solid #0000ff;
	border-top: 4px solid #0000ff;
	border-bottom: 4px solid #0000ff;
}
.wall-end-top{
	border-radius: 30px 30px 0 0;
	border-top: 4px solid #0000ff;
	border-left: 4px solid #0000ff;
	border-right: 4px solid #0000ff;
}
.wall-end-bottom{
	border-radius: 0 0 30px 30px;
	border-bottom: 4px solid #0000ff;
	border-left: 4px solid #0000ff;
	border-right: 4px solid #0000ff;
}

.tile.door .horizontal {
  width: 102%; /* Largeur relative au parent */
  height: 9px; /* Hauteur très fine */
  background-color: #f77cf0; /* Couleur dorée */
  position: absolute;
  margin: 0;
  top: 50%; /* Centré verticalement */
  left: 50%;
  transform: translate(-50%, -50%); /* Centrage précis */
  border-radius: 0; /* Pas d'arrondi */
}
.tile.door .vertical {
	width: 9px; /* Hauteur très fine */
	height: 102%; /* Largeur relative au parent */
	background-color: #f77cf0; /* Couleur dorée */
	position: absolute;
	top: 50%; /* Centré verticalement */
	left: 50%;
	transform: translate(-50%, -50%); /* Centrage précis */
	border-radius: 0; /* Pas d'arrondi */
  }

  
  /* COULOIR VIDE (espace) */
  .tile.empty {
	//background-color: #000;     /* noir */
  }
  
  /* TUNNEL (caractère 'T') */


.tile.tunnel {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
  }

  /* PORTAIL (caractère 'P') */

  .tile.gate { // pas de gate implementé
	background-color: #ffd700;
	border-top: .7rem solid black;
	border-bottom: .7rem solid black;
  }
  
  /* PASTILLE NORMALE (caractère '.') */
  .tile.pellet {
	background-color: #000;     /* fond noir */
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .tile.pellet .dot {
	width: 8%;
	height: 8%;
	background-color: #ffd700; /* Light pink/orange dot */
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  /* POWER‑PELLET (caractère 'o') */
  .tile.power-pellet {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .tile.power-pellet .big-dot {
	width: 24%;
	height: 24%;
	background-color: #ffd700;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: blink 0.5s infinite alternate;

}
  
  /* -----------------------------------------
	 SPRITES JOUEURS : PAC‑MAN et FANTÔMES
  ------------------------------------------ */
  
  .player {
	position: absolute;
	box-sizing: border-box;
	
	z-index: 10;                 /* au-dessus des cases */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.2s ease-in-out;
  }
  
  /* === PAC‑MAN === */

.pacman-body::after {
	content: "";
	display: block;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	//animation: eat 0.4s linear infinite;
	/* background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
	transform-origin: center; */
}

/* Corps de Pacman selon la direction */
.pacman-body-left::after {
  animation: eat 0.4s linear infinite;
  background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
  transform: rotate(180deg); /* Rotation pour regarder à gauche */
}

.pacman-body-right::after {
  animation: eat 0.4s linear infinite;
  background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
}

.pacman-body-up::after {
  animation: eat 0.4s linear infinite;
  background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
  transform: rotate(270deg); /* Rotation pour regarder en haut */
}

.pacman-body-down::after {
  animation: eat 0.4s linear infinite;
  background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
  transform: rotate(90deg); /* Rotation pour regarder en bas */
}



@keyframes eat {
	0%, 50% { background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0); }
	25% { background: conic-gradient(yellow 55deg, yellow 0);}
  }
  
  /* === FANTÔMES ===
	 Forme arrondie en haut + franges (clip-path) en bas */

	  

	.player.ghost {
		position: absolute;
		width: 100%;
		height: 100%;
		animation: move 6s linear infinite forwards;
	  }
	  
	.ghost-body svg,
	.ghost-eye-left svg,
	.ghost-eye-right svg {
	width: 100%;
	height: 100%;
	}
	  .ghost-body svg polygon {
		fill: var(--ghost-color);
	  }
	  
	  .ghost-eye-left,
	  .ghost-eye-right {
		position: absolute;
		top: 16px;
		width: 16px;
		height: 20px;
		animation: eyes 6s steps(1) infinite forwards;
	  }
	  
	  .ghost-eye-left {
		left: 8px;
	  }
	  
	  .ghost-eye-right {
		right: 8px;
	  }
	  
	  .ghost-eye-left svg polygon,
	  .ghost-eye-right svg polygon {
		fill: white;
	  }
	
	  
	  .ghost-feet {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 4px;
		height: 4px;
		animation: feet 0.4s steps(1) infinite forwards;
		background: var(--ghost-color);
	
	  }
	
  .pupil-left,
  .pupil-right {
	position: absolute;
	background-color: #000;
	border-radius: 50%;
	width: 15%;
	height: 15%;
  }
  .pupil-left  { top: 30%; left: 30%; }
  .pupil-right { top: 30%; right: 30%; }
  
  

@keyframes power-pellet {
	0% {
		transform: scale(0.8);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: 0.8;
	}
	100% {
		transform: scale(0.8);
		opacity: 1;
	}
}

@keyframes blink {
	from { opacity: 0.5; }
	to { opacity: 1; }
}

/* Configuration générale des sprites */
.ghost-sprite {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 400%;  /* 4 fantômes par rangée */
  position: relative;
}

/* Animation de base des fantômes */
@keyframes ghost-animation {
  0% { background-position-x: 0%; }
  33% { background-position-x: 33.33%; }
  66% { background-position-x: 66.66%; }
  100% { background-position-x: 100%; }
}

/* Directions pour les fantômes - premier paramètre: couleur/fantôme, second: direction */
.ghost-sprite {
  animation: ghost-animation 0.5s steps(2) infinite;
}

/* Position Y pour

/* Position Y pour les directions (assumant que les rangées sont DOWN, LEFT, RIGHT, UP) */
.ghost-sprite.direction-right { background-position-y: 0%; }
.ghost-sprite.direction-left { background-position-y: 33.33%; }
.ghost-sprite.direction-up { background-position-y: 66.66%; }
.ghost-sprite.direction-down { background-position-y: 100%; }

/* Position X pour chaque fantôme (assumant les colonnes sont Blinky, Pinky, Inky, Clyde) */
.ghost-sprite.B-ghost { 
  background-image: url('../../assets/img/pacman/ghost/blinky-right.gif');

  border: #f77cf0;

	//.left
}
.ghost-sprite.P-ghost { 
  background-image: url('../../assets/img/pacman/SpriteSheetPacman.png');
  background-position-x: 25%; 
}
.ghost-sprite.I-ghost { 
  background-image: url('/assets/img/pacman/ghost/inky-right.gif');
  background-position-x: 50%; 
}
.C-ghost { 
  background-image: url('../../assets/img/pacman/SpriteSheetPacman.png');
  background-position-x: 75%; 
}
.ghost-sprite.C-ghost { 
  background-image: url('../../assets/img/pacman/SpriteSheetPacman.png');
  background-position-x: 75%; 
}

/* Fantôme effrayé (bleu) */
.ghost-sprite.frightened {
  background-image: url('../../assets/img/pacman/SpriteSheetPacman.png'); 
  background-position-y: 400%;  /* Ligne pour le mode frightened, ajustez selon votre sprite */
  animation: ghost-animation 0.3s steps(2) infinite;  /* Plus rapide quand effrayé */
}

/* Fantôme clignotant (fin du mode frightened) */
.ghost-sprite.frightened.blinking {
  animation: ghost-frightened-end 0.2s steps(2) infinite;
}

@keyframes ghost-frightened-end {
  0%, 50% { filter: brightness(1); }
  25%, 75% { filter: brightness(0.6) hue-rotate(60deg); }
}